
.full{ height:760px;
    background-color:#eee2f3 
  }
  .sidebar {
    height: 660px;
    background-color: #f9f3f7;
    position: relative;
    top: 6%;
    border: 2px solid white;
    border-radius: 20px;
}
  .content{
    height: 660px;
    width: 99%;
    background-color: #f9f3f7;
    position:relative;
    top:6%;
    border: 2px solid white;
    border-radius:20px;
  }
.avtr{
    width: 70px;
    height: 70px;
    position: fixed;
    left: 4%;
    top: 16%;
}