
.full{ height:760px;
    /* background-color:#eee2f3  */
    background-image:url('../images/bg.png') ;
  }
  .sidebar {
    height: 660px;
    background-color: #f9f3f7;
    position: relative;
    top: 6%;
    border: 2px solid white;
    border-radius: 20px;
}
  .content{
    height: 660px;
    width: 99%;
    background-color: #f9f3f7;
    position:relative;
    top:6%;
    border: 2px solid white;
    border-radius:20px;
  }
.avtr{
  
    height: 77px;
    position: relative;
    left: 17%;
    top: 1%;
}
.circle{

    width: 105px;
    height: 105px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 14%;
    top: 20%;
}

.name{
    position: relative;
    left: -20%;
    top: 33%;
}
.money
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: cadetblue;
    position: relative;
    left: -20%;
    top: 9%;
}
.menu {
    position: relative;
    top: 20%;
    list-style-type: none; /* Remove bullet points */
}

.menu li {
    text-decoration: none;
    font-size: 19px;
    margin-top: 20px;
    color: dimgrey;
}

.menuimg{
   width: 30px;
   height: 30px;
   margin-right: 15px; 
}
.chartbox{width: 68%;
    height: 59%;
    background-color: white;
    position: relative;
    top: 32%;
    left: 20px;}
.contentbox{
    width: 100%;
    height:75%;
    
}
.transactionbox{
       width:200px;
        height:48%;
        background-color: white;
        position: relative;
        top: 32%;
        left:50px;
}

